/**
  *
  * Webeng. Project Lars Dittert, Lucie Hoppenhöft, Tobias Schmidt, Pascal Schröder
  *
  * 
  */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.brand a {
    color: #ffffff;
    text-decoration: none;
}

.full-width, .login {
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

.login-form {
    height: 70px;
}

.full-width.search, .login {
    position: relative;
    background: #000;
    padding: 0px 100px;
}

.search-form, .login-form {
    display: none;
}


.search-form, .login-form {
    position: relative;
    padding-left: 20px;
}

.usrText {
    width: auto;
    float: left;
}

.pwdText {
    padding-left: 230px;
}

.search-form:before, .usrText:before {
    position: absolute;
    color: #fff;
    font-family: fontAwesome;
    top: 7px;
    left: 0;
}

.pwdText:before {
    position: absolute;
    color: #fff;
    font-family: fontAwesome;
    top: 7px;
    left: 230px;
}

.search-form:before {
    content: '\f002';
}

.usrText:before {
    content: '\f007';
}

.pwdText:before {
    content: '\f084';
}

.search-form input {
    width: 200px;
    height: 30px;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
}

.login-form input {
    width: 200px;
    height: 30px;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
}

#loginBtn {
    position: absolute;
    top: 30px;
    left: 0;
} 

#registerBtn {
    position: absolute;
    top: 30px;
    left: 230px;
}

.closeSearch, .closeUser {
    color: #fff;
    position: absolute;
    top: 8px;
    right: 0;
    cursor: pointer;
}

.full-width.navbar h2 {
    background: rgba(0,0,0,.5);
    padding: 0 100px;
}

.full-width.navbar .brand {
    float: left;
    margin: 0;
    padding: 10px 0;
    color: #fff;
}

.full-width.navbar ul {
    float: right;
    margin: 0;
    display: flex;
}

.full-width.navbar ul li {
    list-style: none;
}

.full-width.navbar ul li a {
    display: block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
}

.full-width.navbar ul li a:active, .full-width.navbar ul li a:hover {
    background: #00bcd4;
}

.full-width.navbar ul li a.search-icon {
    background: #f00;
    cursor: pointer;
}

input[type=submit] {
    background-color: #000;
    border: 1px solid #00bcd4;
    color: white;
    width: 220px;
    height: 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;  
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: #000;
    border: 1px solid #f00;
}

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown, li.dropdownLoggedIn, li.dropdownLoggedOut {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px rgba(0,0,0,0.4);
    background-color: rgba(0,0,0,0.3);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content, .dropdownLoggedIn:hover .dropdown-content, .dropdownLoggedOut:hover .dropdown-content {
    display: block;
}